[submodule "wiki"]
	path = wiki
	url = https://bwoods@github.com/bwoods/Vulkan.wiki.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "freetype₂"]
	path = freetype₂
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
